:host {
  display: grid;
  /* vh = Viewport hight */
  height: 7vh;
}

a:hover {
  color: white;
}

.toolbar{
  background-size: cover;
  background-image: url("/assets/images/Background.jpg");
}

.active {
  color: white;
  box-shadow: 0 0 20px 5px cornsilk;
  text-shadow: none;
}
