<div class="photo" *ngIf="photo">
  <mat-card>
    <img mat-card-image src="{{photo.url}}">
    <mat-card-actions>
      <button mat-button [routerLink]="['/fullImage', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
      <button mat-button><span class="fa fa-heart fa-lg"></span></button>
      <button mat-button (click)="goBack(photo.albumId)"><span class="fa fa-arrow-left fa-lg"></span></button>
      <button mat-button><span class="fa fa-share-alt fa-lg"></span></button>
      <span class="flex-spacer"></span>
      <button mat-button [routerLink]="['/fullImage', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
    </mat-card-actions>
  </mat-card>
</div>

<div [hidden]="photo">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
