:host {
  display: grid;
  min-height: 93vh;
  background-size: cover;
  background-image: url("/assets/images/Background.jpg");
  font-size: 100%;
  background-color: black;

  grid-template:
    "header" auto
    "gallery" auto
    /1fr
  ;

}

.header {
  grid-area: header;
  padding-left: 50px;
  padding-right: 33px;
  padding-top: 50px;
  background-size: cover;
  color:white;
}

.header a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.gallery {
  grid-area: gallery;
  display: grid;
  padding-top: 10px;
  padding-left:25px;
  padding-right: 70px;
  padding-bottom: 50px;
  color:white;
}

.gallery a {
  display: grid;
  color: white;
  width: 100%;
  height: 80%;
  padding: 20px;
  place-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 20px black;
}

.gallery a:hover {
  cursor: pointer;
  color: black;
  background-color: cornsilk;
  box-shadow: 0 0 20px 5px cornsilk;
  text-shadow: none;
}


.viewport {
  display: grid;
  padding-right: 50px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 200px;
  min-height: 500px;
  width: 100%;
  background: transparent;
}


li {
  height: 50px;
}

::-webkit-scrollbar {
  width: 1em;
  border:solid white 2px
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238, 169, 79);
}


// .gallery {
//   grid-area: gallery;
//   padding: 50px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//   grid-auto-rows: 150px;
//   grid-gap: 50px;
//   place-content: center;
//   color:white;
// }

// .gallery a {
//   display: grid;
//   color: white;
//   width: 100%;
//   height: 100%;
//   padding: 20px;
//   place-content: center;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 10px;
//   font-weight: bold;
//   background-color: rgba(255, 255, 255, 0.7);
//   text-shadow: 0 0 20px black;
// }

// .gallery a:hover {
//   cursor: pointer;
//   color: black;
//   background-color: cornsilk;
//   box-shadow: 0 0 20px 5px cornsilk;
//   text-shadow: none;
// }
