
<div class="header">
  <span style="font-size: 17px;" class="fa fa-arrow-left fa-lg"></span>
  <a (click)="goBack()" style="position: relative; top: 2px;">  Go Back To Gallery</a>
  <mat-toolbar style="background-color: transparent;">
    <span style="font-size: 30px; color:white">Photos:</span>
    <!-- Klasa flex-spacer je definisana u styles.scss i ona ce naredni element da pomeri maximalno desno koliko moze -->
    <span class="flex-spacer"></span>
    <a mat-button (click)="changeView('grid')" style="font-size: 30px; padding-right: 0px; cursor:pointer; color:white" class="fa fa-th fa-lg"></a>
    <a mat-button style="font-size: 33px; cursor:pointer; color:white" class="fa fa-bars fa-lg"></a>
  </mat-toolbar>
</div>

<div *ngIf="option=='row'" class="album">
  <cdk-virtual-scroll-viewport [itemSize]="200" class="viewport">
    <ul style="list-style-type: none;">
      <li *cdkVirtualFor="let photo of allPhotos">
        <img style="width: 150px; float:left" (dblclick)="openFullSize(photo.id)" src="{{photo.thumbnailUrl}}">
        <div style="position: relative; left:17px">Description: {{photo.title}}</div> <br>
      </li>
    </ul>
  </cdk-virtual-scroll-viewport>
</div>
