:host {
  display: grid;
  min-height: 93vh;
  background-size: cover;
  background-image: url("/assets/images/Background.jpg");
  font-size: 100%;
  background-color: black;
  color:white;

  grid-template:
    "header"  auto
    "album" auto
    /1fr
  ;
}

.header {
  grid-area: header;
  padding-left: 50px;
  padding-right: 33px;
  padding-top: 50px;
  background-size: transparent;
  color:white;
}

.header a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.album {
  grid-area: album;
  display: grid;
  padding-top: 10px;
  padding-left:25px;
  padding-right: 70px;
  padding-bottom: 50px;
  font-size: 100%;
}

:host img {
  width: 100%;
}

img:hover{
  cursor: pointer;
}

:hover a{
  color:white;
}

.viewport {
  display: grid;
  padding-right: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  min-height: 500px;
  width: 100%;
  background: transparent;
}


li {
  height: 200px;
}

::-webkit-scrollbar {
  width: 1em;
  border:solid white 2px
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238, 169, 79);
}
