:host {
  display: grid;
  min-height: 93vh;
  background-size: contain;
  background-image: url("/assets/images/Background.jpg");
  // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  // grid-auto-rows: 150px;
  // grid-gap: 50px;
  // place-content: center;
  // padding: 50px;
  font-size: 100%;
  background-color: black;
  color:white;

  grid-template:
    "header"  auto
    "album" auto
    "row" auto
    /1fr
  ;
}

.header {
  grid-area: header;
  padding-left: 50px;
  padding-right: 33px;
  padding-top: 50px;
  background-size: cover;
  color:white;
}

.header a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.album {
  grid-area: album;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 100%;
}

.row {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 100%;
  background: transparent;
}

.description{
  display: grid;
  padding:5px;
  text-align: center;
  font-weight: bold;
  color:black;
  font-size: 10px;
}

.delete{
  display: grid;
  position: absolute;
  right:0;
  bottom: 0;
}

:host img {
  width: 100%;
}

img:hover{
  cursor: pointer;
}

:hover a{
  color:white;
}

.viewport {
  display: grid;
  padding-right: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  min-height: 500px;
  width: 100%;
  background: transparent;
}

.example-item-detail {
  height: 200px;
}

.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}

li {
  height: 200px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238, 169, 79);
}
