<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row login">

    <mat-toolbar  class="col-12 background-primary text-floral-white">
      Welcome to Photonic
    </mat-toolbar>

      <mat-form-field appearance="outline" class="col-12 col-md-6 username">
        <mat-label>Enter your username</mat-label>
        <input matInput #username="ngModel" required placeholder="Username" type="text" [(ngModel)]="user.username"
          name="username">
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12 col-md-6 email">
        <mat-label>Enter your email</mat-label>
        <input matInput #email="ngModel" required placeholder="Email" type="email"
          [(ngModel)]="user.email" name="email">
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      </mat-form-field>
      <div class="col-12 col-md-3 loginButton">
        <button mat-raised-button type="submit"  [disabled]="loginForm.form.invalid" class="background-primary text-floral-white" style="font-size:20px; width:100%" color="primary">Login</button>
      </div>
      <div class="col-12 col-md-9 forgotPassword">
        <a style="font-size:13px;" routerLink="#" routerLinkActive="active">Forgot your password?</a> &nbsp;
        <span *ngIf="errMess"style="color:red; font-size:20px;">({{errMess}})</span>
      </div>
      <div class="col-12 divider">
        <mat-divider style="width: 100%"></mat-divider>
      </div>
      <div class="col-12 col-md-6 createAccount">
        <a mat-raised-button class="background-primary text-floral-white" style="font-size:20px; width:100%;" color="primary">Create a new account</a>
      </div>
      <div class="col-12 col-md-6 continueAsGuest">
        <a style="font-size:13px;" routerLink="#" routerLinkActive="active">Continue as guest</a>
      </div>
      <div class="col-12">
        <br>
      </div>
  </div>
</form>
