:host {
  display: grid;
  height: 93vh;
  place-items: center;
  overflow: hidden;
  background: black;
  text-align: center;;
  background-size: cover;
  background-image: url("/assets/images/Background.jpg");
}

.info {
  z-index: 2;
  grid-row: 1 / -1;
  grid-column: 1 / -1;

  color: #ffd54e;
  text-shadow: 0 0 20px black;
  transform:
    translateY(-80px)
    perspective(100px)
    rotateX(10deg)
  ;
}

@keyframes ship1 {
  from {
    transform: translateX(-2500px) translateY(-150px)
  }
  to {
    transform: translateX(2500px) translateY(-150px)
  }
}

@keyframes ship2 {
  from {
    transform: translateX(-2500px) translateY(-250px) rotate(-130deg)
  }
  to {
    transform: translateX(2500px) translateY(-250px) rotate(-130deg)
  }
}

@keyframes ship3 {
  from {
    transform: translateX(-2500px) translateY(50px) rotate(220deg)
  }
  to {
    transform: translateX(2500px) translateY(50px) rotate(220deg)
  }
}

@keyframes ship4 {
  from {
    transform: translateX(-2500px) translateY(-50px) rotate(90deg)
  }
  to {
    transform: translateX(2500px) translateY(-50px) rotate(90deg)
  }
}

.spaceship1 {
  width: 10%;
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  animation: ship1 7s infinite linear;
}

.spaceship2 {
  width: 10%;
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  animation: ship2 7s infinite linear;
}

.spaceship3 {
  width: 10%;
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  animation: ship3 7s infinite linear;
}

.spaceship4 {
  width: 10%;
  z-index: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  animation: ship4 7s infinite linear;
}
