<div class="info">
  <h1 class="animate__animated animate__zoomInDown">READY...</h1>
  <h1 class="animate__animated animate__zoomInDown animate__slow">SET...</h1>
  <h1 class="animate__animated animate__zoomInDown animate__slower">GO GO GO!!!</h1>
</div>

<div class="spaceshipRace">
  <img class="spaceship1" src="../../assets/images/Spaceship1.png">
  <img class="spaceship2" src="../../assets/images/Spaceship2.png">
  <img class="spaceship3" src="../../assets/images/Spaceship3.png">
  <img class="spaceship4" src="../../assets/images/Spaceship4.png">
</div>

