:host {
  display: grid;
  min-height: 93vh;
  background-size: contain;
  background-image: url("/assets/images/Background.jpg");
  // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  // grid-auto-rows: 150px;
  // grid-gap: 50px;
  // place-content: center;
  // padding: 50px;
  // font-size: 100%;
  background-color: black;
  color:white;

  grid-template:
    "header"  auto
    "album" auto
    /1fr
  ;
}

.header {
  grid-area: header;
  padding-left: 50px;
  padding-right: 33px;
  padding-top: 50px;
  background-size: cover;
  color:white;
  background-image: url("/assets/images/Background.jpg");
}

.album {
  grid-area: album;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 220px;
  // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  // grid-auto-rows: 150px;
  grid-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 100%;
}

.description{
  display: grid;
  padding:5px;
  text-align: center;
  font-weight: bold;
  color:black;
  font-size: 10px;
}

:host img {
  width: 100%;
}

// .photo {
//   display: grid;
//   grid-template:
//   "image"  auto
//   "description" auto
//   /1fr
// ;
// }

// .image{
//   grid-area: image;
//   width: 150px;
//   height: 150px;
// }

// .description{
//   grid-area: description;
//   width: 150px;
//   height: 100px;
// }

// .cdkVirtualScroll {

//   li {
//     height: 250px;
//   }

//   Bonus points
//   &::-webkit-scrollbar {
//     width: 1em;
//   }

//   &::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: rgb(238, 169, 79);
//   }
// }

:hover a{
  color:white;
}

.viewport {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-image: url("/assets/images/Background.jpg");
}

.example-item-detail {
  height: 200px;
}

.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}

li {
  height: 200px;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238, 169, 79);
}


