<mat-toolbar class="header">
  <span style="font-size: 30px;">Photos</span>
  <!-- Klasa flex-spacer je definisana u styles.scss i ona ce naredni element da pomeri maximalno desno koliko moze -->
  <span class="flex-spacer"></span>
  <a mat-button (click)="changeView('grid')" style="font-size: 30px; padding-right: 0px; cursor:pointer; color:white" class="fa fa-th fa-lg"></a>
  <a mat-button (click)="changeView('row')" style="font-size: 33px; cursor:pointer; color:white" class="fa fa-bars fa-lg"></a>
</mat-toolbar>

<div *ngIf="option=='grid'" class="album">
  <div style="background: white;" *ngFor="let photo of allPhotos">
    <img src="{{photo.thumbnailUrl}}" (dblclick)="openFullSize(photo.id)">
    <span class="description">{{photo.title}}</span>
  </div>
</div>

<div style="padding-top: 50px;" *ngIf="option=='row'">
  <ul>
    <cdk-virtual-scroll-viewport [itemSize]="200" class="viewport">
      <li *cdkVirtualFor="let photo of allPhotos">
        <img style="width: 150px; float:left" src="{{photo.thumbnailUrl}}">
        <div style="position: relative; left:17px">Description: {{photo.title}}</div> <br>
        <a mat-button style="font-size: 18px;"><span style="font-size: 26px; position: relative; bottom:3px;" class="fa fa-trash fa-lg"></span> Delete Photo</a>
      </li>
    </cdk-virtual-scroll-viewport>
  </ul>
</div>
