:host {
  display: grid;
  min-height: 93vh;
  background-size: contain;
  background-image: url("/assets/images/Background.jpg");
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 50px;
  place-content: center;
  padding: 50px;
  font-size: 100%;
  background-color: black;
  color:white

}

:host a {
  display: grid;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  place-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 20px black;
}

:host a:hover {
  cursor: pointer;
  color: black;
  background-color: cornsilk;
  box-shadow: 0 0 20px 5px cornsilk;
  text-shadow: none;
}
