// $fa-font-path: '../node_modules/fonta-awesome-fonts';

$font-family-base: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: (
    $spacer * 1,
  ),
  5: (
    $spacer * 1.5,
  ),
  6: (
    $spacer * 2,
  ),
  7: (
    $spacer * 3,
  ),
  8: (
    $spacer * 5,
  ),
  9: (
    $spacer * 7,
  ),
  10: (
    $spacer * 9,
  ),
  11: (
    $spacer * 11,
  ),
  12: (
    $spacer * 13,
  ),
  13: (
    $spacer * 16,
  ),
) !default;
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
) !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs: 0.875rem !default;
$font-size-sm: 0.9375rem !default;
$font-size-lg: 1.0625rem !default;
$font-size-xl: 1.125rem !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

$font-lead: (
  1: (
    $font-size-base * 1.125,
  ),
  2: (
    $font-size-base * 1.25,
  ),
  3: (
    $font-size-base * 1.5,
  ),
  4: (
    $font-size-base * 1.75,
  ),
  5: (
    $font-size-base * 2,
  ),
  6: (
    $font-size-base * 2.5,
  ),
  7: (
    $font-size-base * 3.25,
  ),
  8: (
    $font-size-base * 4,
  ),
  9: (
    $font-size-base * 5,
  ),
) !default;
$font-small: (
  1: (
    $font-size-base * 0.9375,
  ),
  2: (
    $font-size-base * 0.875,
  ),
  3: (
    $font-size-base * 0.8125,
  ),
  4: (
    $font-size-base * 0.75,
  ),
  5: (
    $font-size-base * 0.6875,
  ),
  6: (
    $font-size-base * 0.625,
  ),
  7: (
    $font-size-base * 0.5625,
  ),
  8: (
    $font-size-base * 0.5,
  ),
  9: (
    $font-size-base * 0.4375,
  ),
) !default;
