$fa-font-path: '../node_modules/fonta-awesome-fonts';

$font-family-base: 'Montserrat', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: (
    $spacer * 1,
  ),
  5: (
    $spacer * 1.5,
  ),
  6: (
    $spacer * 2,
  ),
  7: (
    $spacer * 3,
  ),
  8: (
    $spacer * 5,
  ),
  9: (
    $spacer * 7,
  ),
  10: (
    $spacer * 9,
  ),
  11: (
    $spacer * 11,
  ),
  12: (
    $spacer * 13,
  ),
  13: (
    $spacer * 16,
  ),
) !default;
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
) !default;

$line-height-xs: 1.3 !default;
$line-height-sm: 1.5 !default;
$line-height-lg: 2.2 !default;
$line-height-xl: 2.5 !default;
$border-width: 1px !default;
$border-color: $color-divider-light !default;
$border-radius: 0.25rem !default;
$border-radius-xs: 0.0625rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-xl: 0.4rem !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: $font-family-title !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.3 !default;
$headings-color: $color-title !default;
$display1-size: 5rem !default;
$display2-size: 4rem !default;
$display3-size: 3.5rem !default;
$display4-size: 3rem !default;

$font-lead: (
  1: (
    $font-size-base * 1.125,
  ),
  2: (
    $font-size-base * 1.25,
  ),
  3: (
    $font-size-base * 1.5,
  ),
  4: (
    $font-size-base * 1.75,
  ),
  5: (
    $font-size-base * 2,
  ),
  6: (
    $font-size-base * 2.5,
  ),
  7: (
    $font-size-base * 3.25,
  ),
  8: (
    $font-size-base * 4,
  ),
  9: (
    $font-size-base * 5,
  ),
) !default;
$font-small: (
  1: (
    $font-size-base * 0.9375,
  ),
  2: (
    $font-size-base * 0.875,
  ),
  3: (
    $font-size-base * 0.8125,
  ),
  4: (
    $font-size-base * 0.75,
  ),
  5: (
    $font-size-base * 0.6875,
  ),
  6: (
    $font-size-base * 0.625,
  ),
  7: (
    $font-size-base * 0.5625,
  ),
  8: (
    $font-size-base * 0.5,
  ),
  9: (
    $font-size-base * 0.4375,
  ),
) !default;

$input-btn-padding-y: 0.375rem !default;
$input-btn-padding-x: 0.75rem !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-focus-width: 0rem !default;
$input-btn-focus-color: rgba($color-primary, 0.25) !default;
$input-btn-focus-box-shadow: none !default;
$input-btn-padding-y-xs: 0.375rem !default;
$input-btn-padding-x-xs: 0.5rem !default;
$input-btn-line-height-xs: $line-height-xs !default;
$input-btn-padding-y-sm: 0.375rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-line-height-sm: $line-height-sm !default;
$input-btn-padding-y-lg: 0.375rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-line-height-lg: $line-height-lg !default;
$input-btn-padding-y-xl: 0.375rem !default;
$input-btn-padding-x-xl: 1.125rem !default;
$input-btn-line-height-xl: $line-height-xl !default;
$input-btn-border-width: $border-width !default;
