/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-family-base;
    font-weight: 500;
    color: #5B5B5B;
}

.mat-checkbox,
.mat-radio-button,
.mat-body,
.mat-body-1,
.mat-typography,
.mat-form-field {
    font-family: $font-family-base;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.underline {
    text-decoration: underline;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 6px;
    padding: 8px 17px;
    font-family: Montserrat !important;
}

.form-block {
    .mat-form-field {
        display: block;
    }
}

