<div class="info">
  <h1 class="animate__animated animate__zoomInDown animate__slow">Welcome To Photonic</h1>
  <h2 class="animate__animated animate__zoomInDown animate__slow">
    <a target="blank" href="https://github.com/123NeNaD">123NeNaD</a>
    &bull;
    <a href="mailto:123nenad1996@gmail.com">123nenad1996@gmail.com</a>
  </h2>
</div>

<div class="scene">
  <div class="wrap">
      <div class="wall wall-right"></div>
      <div class="wall wall-left"></div>
      <div class="wall wall-top"></div>
      <div class="wall wall-bottom"></div>
      <div class="wall wall-back"></div>
  </div>
  <div class="wrap">
      <div class="wall wall-right"></div>
      <div class="wall wall-left"></div>
      <div class="wall wall-top"></div>
      <div class="wall wall-bottom"></div>
      <div class="wall wall-back"></div>
  </div>
</div>
